@font-face {
  font-family: Baloo;
  src: url("../font/BalooTammudu2-Medium.ttf");
}

body {
  background: rgb(242, 218, 144);
  background: linear-gradient(
    90deg,
    rgba(242, 218, 144, 0.9925012241224614) 8%,
    rgba(255, 175, 84, 1) 43%,
    rgba(254, 164, 79, 1) 89%
  );
  font-family: Baloo, sans-serif;
}
